*{

    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5;
    padding: 0;
    box-sizing: border-box;

}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-top: 70px;
    margin-right: 30px;
    font-size: 20px;
    text-align: center;
}

header{
    display: flex;
    width: 100%;
    max-width: 80px;

}

#titulo-principal{
    text-align: center;
    text-decoration:underline;
}

main nav p {
    text-align: center;
}

li {
    list-style: none;
    display: inline;
}

/*header nav ul li a:hover{
    font-size: 22px; 
}*/


li h2 a{
    color: #2196F3;
}

main nav li {
    display: inline-block;
	text-align: center;
	width: 40%;
	vertical-align: top;
	margin: 2% 2%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

#logo-H {
    width: 120%;
}

main nav li:hover{
    border-color: #F07D21;
}

main nav li h2:hover{
    font-size: 31px;
}


main nav li:active{
    border-color: #088c19;
}


.caixa {
    background-color: black;
    align-content: center;
    justify-content: space-between;
    max-width: 100%;
    background-size: 0px 50px;
    display: flex;
    width: 100%;
    height: 210px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

a:hover {
    color: #F07D21; 
}

a:active{
    color: #088c19;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;

}

main li {
    align-items: center;
}

#banner1 {
    width: 60%;
    margim: 10px;
    margin-left: 40px;
    padding: 30px;
    display: flex;
    border-radius: 50px;
    margin: auto;
    padding: auto;
}

.conteudo {
    font-size: 20px;
    width: 60%;
    justify-content: center;
}

.paginas {
    font-size: 20px;
    width: 40%;
}

footer{
    background-color: black;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 3rem;
    height: 100px;
    width: 100%;
}



#redes-li {
    align-items: center;
    display: flex;
    gap: 4rem;
    margin-right: 20px;
    font-size: 18px;
}


.copy {
   font-weight: bolder;
   font-size: 20px;
   display: flex;
   text-align: center;

}



