/*.menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    
}

li {
    list-style: none;
}

.caixa {
    height: 200px;
    background-color: rgb(212, 158, 233);
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

a:hover{
    color: orange;

}
*/