* {

  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5;
  padding: 0;
  box-sizing: border-box;

}

.menu {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-top: 70px;
  margin-right: 30px;
  font-size: 20px;
  text-align: center;
}

.me {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
}

li {
  color: white;
  list-style: none;
}

a {
  text-decoration: none;
}

main div ul li h4,
p,
h3 {
  color: black
}

main div ul li {
  display: inline-block;
  text-align: center;
  width: 40%;
  vertical-align: top;
  margin: 2% 2%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
  max-width: 40%;
}

main div ul li:hover {
  border-color: #F07D21;
}

main div ul li:active {
  border-color: #088c19;
}

.caixa {
  background-color: black;
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 100%;
  background-size: 0px 50px;
}

a {
  color: white;
  font-weight: bolder;
}

a:hover {
  color: #F07D21;
}

a:active {
  color: #088c19;
}

#sobre {
  text-align: center;
}

main h2 {
  font-size: 30px;
}

main p {
  font-size: 20px;
}

.valores {
  font-size: 1.5em;
}

#responsaveis {
  text-align: center;
}

#banner2 {
  width: 60%;
  margim: 10px;
  margin-left: 40px;
  padding: 30px;
  display: flex;
  border-radius: 50px;
  margin: auto;
  padding: auto;
}

footer {
  background-color: black;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 3rem;
}



#redes-li {
  align-items: center;
  display: flex;
  gap: 4rem;
  margin-right: 20px;
  font-size: 18px;
}


.copy {
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  text-align: center;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  width: 600px;

}

label {
  font-weight: bold;
  margin-bottom: 5px;

}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 1.1rem;
}

.enviar:hover {
  color: #F07D21;
  background-color: #000000;
  font-weight: bolder;
}

.enviar:active {
  color: #088c19;
}

.checkbox {
  display: flex;
  width: 30px;
}