*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

header{
    background-color: black;
    width: 100%;
    padding: 10px;
}

.logo{
    width: 25%;

}

.logo img{
   width: 50px; 
   cursor: pointer;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: blanchedalmond;
    text-decoration: none;
    padding-right: 50px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: "";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, #FF2500, #FF7100);
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
    
}
h1{
    text-align: center;
}


.slider{
    margin: 10px auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;

}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;

}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #FFF;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.manual-auto div{

    border: 2px solid #FF2500;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio4:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background: silver;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    max-width: 500px;
}